#side {    
    background: url('../img/pup_main.jpg') no-repeat;
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    height: 90vh;
  }
.side-background{
    width: 50%;
    height: 90vh;
}
.side-login{
    width: 50%;
    height: 90vh;
    color: white;
    background: #800000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px 10px 10px 10px;   
}
.sign-in{
   width: 50%;
   
}
.login-logo img{
    border: 1px solid #ccc;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 1.2rem 0;
    width: 75px;
    height: 75px;
}
.sign-in form{
    padding: 2rem;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #fff;
    color: #000;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}
.sign-in form input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}
.sign-in button{
    background-color: #800000;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}
.sign-in a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}
@media screen and (max-width: 768px){
    #side{
        height: 60vh;
    }
    .side-background{
        display: none;
    }
    .side-login{
        width: 100%;
        height: 60vh;
        border-radius: 0;
        align-items: flex-start;
    }
    .sign-in{
        width: 100%;
        padding: 1rem 0;
        padding-top: 1rem;
    }
    .login-logo{
        margin: 5px;
    }
    .login-logo img{
        display: none;
    }
    
}
