@font-face {
  font-family: 'Sansation';
  src: url('../fonts/Sansation_Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
}
body {
  
}

main {
  background-color: #f5f5f5;
  min-height: 100vh;
}

/* Styles for the navigation bar */
.navbar {
  background-color: #800000;
  color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05), inset 0px -1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 0.5rem;
}

.banner-text {
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  font-family: 'Roboto', sans-serif;
  line-height: 0.3rem;
  font-family: 'Sansation';
  margin-top: 1rem;
  color: #fff;
}

.banner-md {
  display: none;
}

.banner img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}


.navbar-nav {
  font-family: 'Inter';
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.9rem;
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.nav-item {
  list-style: none;
}

.navbar-nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.navbar-nav a:hover {
  color: #FFC107;
}

button.navbar-toggler {
  color: #fff;
  border-radius: 0.5rem;
  border: 0.5px solid #fff;
}

button.navbar-toggler img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  filter: invert(100%);
}

footer{
  background-color: #555555;
  color: #eee;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer h4{
  color: #DC3545;
}
footer .btn{
  background-color: #DC3545;
  color: #CED4DA;
  border: 1px solid #FCBF15;
}
.copyright{
  background-color: #2D2926;
  color: #fff;
  width: 100%;
}
@media (max-width: 992px) {

  .navbar .navbar-collapse {
      margin: 0.5rem;
  }
  
  .navbar-nav .nav-item:hover{
      background-color: #fff;
    }
  
  .navbar-nav .nav-item .nav-link {
      padding: 1rem; 
  }
    

  .banner-text {
      display: none;
  }

  .banner-md {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      font-family: 'Roboto', sans-serif;
      line-height: 0.3rem;
      font-family: 'Sansation';
      margin-top: 1rem;
      color: #fff;
  }
}

@media (min-width: 768px) {
  .container-fluid.navigation {
      padding: 0.5rem 0;
      margin: 0 5rem;
  }
}

/* Styles for the footer section */

footer {
  font-family: 'Poppins';
  font-weight: 400;
  line-height: 1.2rem;
  background-color: #555555;
  padding: 2rem 2rem 0;
  color: #fff;
}

footer h3 {
  color: #DC3545;
  font-size: 1.5rem;
  font-weight: 700;
}

footer .info {
  margin: 2rem 0 3rem;
  padding: 0 5rem;
}

footer .info .row {
  align-items: center;
  margin: auto;
}

footer .info .row p {
  line-height: 1.4rem;
  font-size: 0.9rem;
  margin: auto;
}

footer .info .row img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%; 
  filter: invert(100%);
}

.copyrigths {
  background-color: #2D2926;
  padding: 1.5rem 2rem 0;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  color: #fff;
  height: 6rem;
}

footer .sec-2 button  {
  color: #fff;
  background-color: #DC3545;
  border: #FFC107 1px solid;
  border-radius: 0%;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

footer .sec-2 button:hover  {
  background-color: #dc3546c4;
}

footer .sec-2 .btn:active  {
  background-color: #dc3546c4;
  border: #dc3546c4 1px groove;
}


footer .sec-2 button img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  filter: invert(100%);
}

footer .sec-2 {
  margin: 2rem 0 3rem;
  padding: 0 5rem;
}

footer .sec-2 .form-group {
  margin: 0.5rem 0;
}

footer .sec-2 .form-control {
  border-radius: 0%;
}


@media (max-width: 992px) {

  footer .info {
      padding: 0 2rem;
  }

  footer .sec-2 {
      padding: 0 2rem;
  }
  
}


