{% load static %}
<footer class="pt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <address>
                    <h4><i class="fa-solid fa-location-dot"></i> Address</h4>
                    <h6>Alumni Relations & Career Development Office</h6>
                    <p>2/F North Wing, Main Building</p>
                    <p>pup A. Mabini Campus, Anonas St., Sta. Mesa, Manila </p>
                    <p>Manila, Philippines 1016</p>
                </address>
                <h4><i class="fa-solid fa-phone"></i> Contact</h4>
                <p> (63 2) 714-0593, (63 2) 335-1PUP (335-1787) or 335-1777 local 340<br></p>

                <h4><i class="fa-solid fa-envelope"></i> Email</h4>
                <p> career_alumni@pup.edu.ph</p>
            </div>
            <div class="col-md-6">
                <form>
                        <h4>HOW CAN WE ASSIST?</h4>
                        <p>We are here to address any questions you may have about the Alumni Relations and Career Development Office.
                            Please contact us and we will get back to you as soon as possible</p>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                  <div class="form-group">
                                    <input type="text" class="form-control" id="name" placeholder="Name" required>
                                  </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                  <div class="form-group">
                                    <input type="email" class="form-control" id="email" placeholder="Email" required>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6 mb-3">
                                  <div class="form-group">
                                    <input class="form-control" type="number" id="year" name="year" min="1900" max="2100" placeholder="Year of Graduation">
                                  </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                  <div class="form-group">
                                    <input type="text" class="form-control" id="course" placeholder="Course/Program">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12 mb-3">
                                  <div class="form-group">
                                    <label for="message"></label>
                                    <textarea class="form-control" id="message" rows="5" placeholder="Compose Message" required></textarea>
                                  </div>
                                </div>
                              </div>
                              <button type="submit" class="btn mt-3 mb-3">Send Message</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12 pt-2 pb-1 copyright">
      <p class="text-center">© 2024. Polytechnic University of the Philippines</p>
      <p class="text-center">Alumni Relations and Career Development</p>
  </div>
</footer>