{% load static %}

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid navigation">

    <div class="banner navbar-brand">
        <img src="{% static 'img/arcdologo.jpg' %}" alt="PUP LOGO">
        <img src="{% static 'img/PUPLogo.png' %}" alt="ARCDO LOGO">
        <div class="banner-text">
            <p>POLYTECHNIC UNIVERSITY OF THE PHILIPPINES</p>
            <p>Alumni Relations & Career Development Office</p>
        </div>
        <div class="banner-md">
            <p>PUP-ARCDO</p>
        </div>

    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
        <img src="{% static 'img/menu.svg' %}" alt="Menu">
    </button>



    <div class="collapse navbar-collapse" id="menu">

    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="">News & Features</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'career' %}">Career</a></li>
        <li class="nav-item"><a class="nav-link" href="">Events</a></li>
        <li class="nav-item"><a class="nav-link" href="">Online Services</a></li>
        <li class="nav-item"><a class="nav-link" href="">About</a></li>
    </ul>
    </div>



    </div>
</nav>