{% extends "base.html" %} {% block title %}PUP ALUMNI PORTAL {% endblock %} 
{% load static %}

{% block content %}
<div class="career-bg" >    
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="career-content mt-4 text-center">
                <h1 class="">JOB CATEGORY</h1>
                <p>Finding Job should not be a full-time endeavor. Tell us what you're searching for, and we'll find you job.</p>
                <div class="job-category">
                    <div class="row mt-4">
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="{% static 'img/PUPLogo.png' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">MECHANICAL ENGINEERING</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="{% static 'img/PUPLogo.png' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">COMPUTER ENGINEERING</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="{% static 'img/PUPLogo.png' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">ELECTRICAL ENGINEERING</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 mb-4">
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="{% static 'img/arcdo.png' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">CIVIL ENGINEERING</h5>
                                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="{% static 'img/arcdo.png' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">INDUSTRAL ENGINEERING</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="{% static 'img/arcdo.png' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">ELECTRONICS ENGINEERING</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}